<div class="container">
  <h1>You are at Home page </h1>
  <div class="navigation">
  <a routerLinkActive="active" 
     routerLink="/customer">customer</a> 

  <a routerLinkActive="active" 
     routerLink="/home">Home</a> 
 
  <a routerLinkActive="" routerLink="/help">help</a>

    <a routerLinkActive="active" routerLink="/about">About</a>
    <a routerLinkActive="active" routerLink="/contact">Contact US</a> 
    <!-- <a routerLinkActive="active" [routerLink]="['/onboard']">onboarding</a> -->
    <a routerLinkActive="active" [routerLink]="['/onboarding']">OnBoarding Customer</a>
  </div>  
  <router-outlet></router-outlet>
</div>